@import './../../styles.scss';

section {
    position: fixed;
    width: 100vw;  
    background-color: $atf_bg !important;
}

.header-container {
    display: flex;
    height: 124px;
    padding-left: 80px;
    padding-right: 80px;
    flex: 1;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-size: 40px;
    font-weight: 600;
    color: white;

    .dot {
        background: linear-gradient(to top, white 60%, $purple_blue 40%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .arch {
        background: linear-gradient(to right, white 50%, $aqua_blue 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    :hover {
        cursor: pointer;
    }
}

.links {
    display: flex;
    gap: 16px;

    a{
    font-size: 32px;
    font-weight: 200;
    color: white;
    text-decoration: none;
    }
}



