<!------------------------ desktop-header --------------------------------->

<div id="desktop-header">
    <div class="header-container">
        <div class="name">
            <a href="#atf">S<span class="dot">i</span>mo<span class="arch">n</span></a>
        </div>
        <div class="links">
            <a href="#about">About me</a>
            <a href="#skills">Skills</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#contact">Contact</a>
        </div>
    </div>
    <div class="scroll-watcher"></div>
</div>

<!------------------------ mobile-header --------------------------------->

<div id="mobile-header">
    <div class="m-header-container">
        <div class="name">
            <a href="#atf">S<span class="dot">i</span>mo<span class="arch">n</span></a>
        </div>
        <div class="m-links">
            <button class="burger-menu" (click)="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="m-links-menu" [ngClass]="{ 'show-menu': isMenuOpen }">
                <a href="#about">About me</a>
                <a href="#skills">Skills</a>
                <a href="#portfolio">Portfolio</a>
                <a href="#contact">Contact</a>
            </div>
        </div>
    </div>
    <div class="m-scroll-watcher"></div>
</div>