@import './../../styles.scss';

.footer {
    font-family: 'Poppins';
    height: 320px;
    width: 100vw;
    padding-left: 100px;
    padding-right: 100px;
    background-color: $bg;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.3rem solid $aqua-blue;
    cursor: default;
    position: relative;
    z-index: 1;
}

.footer-left {
    display: flex;
    flex-direction: column;

    .name {

        a {
            text-decoration: none;
            font-size: 3.5rem;
            font-weight: 600;
            color: white;
        }

        .dot {
            background: linear-gradient(to top, white 60%, $purple_blue 40%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .arch {
            background: linear-gradient(to right, white 50%, $aqua_blue 50%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &:hover {
            cursor: pointer;
            animation: grow 0.5s ease forwards;
        }
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        transition: color 0.5s ease;

        &:hover {
            color: $aqua_blue;
        }
    }
}

.footer-middle {
    display: flex;
    font-size: 1.5rem;
}

.footer-right {
    display: flex;
    gap: 3rem;

    img {
        &:hover {
            cursor: pointer;
            animation: grow 0.2s ease forwards;
        }
    }
}

.mobile-footer-impressum {
    display: none;

    a {
        font-size: 20px;
        text-decoration: none;
        color: white;

        &:hover {
            text-decoration: underline;
        }

    }
}