<div class="footer">
    <div class="footer-left">
        <div class="name">
            <a href="#atf">S<span class="dot">i</span>mo<span class="arch">n</span></a>
        </div>
        <a class="impressum" href="imprint" translate>Imprint</a>
    </div>
    <div class="footer-middle">
        &copy; Simon Brost 2024
    </div>
    <div class="footer-right">
        <a href="https://github.com/simonbrost"><img src="../../assets/img/social-buttons/github.png" alt="github"></a>
        <a href="mailto:simonb@live.at"><img src="../../assets/img/social-buttons/mail.png" alt="mail"></a>
        <a href="https://www.linkedin.com/in/simon-brost-194647232/"><img
                src="../../assets/img/social-buttons/linkedin.png" alt="linkedin"></a>
    </div>
    <div class="mobile-footer-impressum">
        <a href="imprint" translate>Imprint</a>
        <a routerLink="/imprint" routerLinkActive="active" ariaCurrentWhenActive="page">Imprint</a>
    </div>
</div>