<section id="about" class="about-me-section">
<div class="about-me-left">
    <h1 class="section-headline" translate>About me</h1>
    <span translate>
        Hi, I am a Front-End developer based Austria. 
        I am 30 years old and live with my fiancée and our dog in the modest village of Bockfließ near Vienna.
        My strengths include commitment, reliability, communication skills, and self-reflection.
    </span>
    <div>
        <div class="text-block">
            <img class="add-width" src="../../assets/img/general-icons/bulb.png">
            <span translate>
                I have developed my front-end skills primarily through my education at the Developer Academy in Munich, 
                where I had the opportunity to work on numerous projects. 
                A selection of these projects can be found in the Portfolio section.
            </span>
        </div>
        <div class="text-block">
            <img src="../../assets/img/general-icons/puzzle.png">
            <span translate>
                I particularly enjoy the agile teamwork, the challenging nature of software development, 
                and the wide spectrum of learning domains.
                I am eagerly looking forward to embarking on more projects!
            </span>
        </div>
    </div>
</div>
<div class="about-me-right">
    <img src="../../assets/img/photos/portfolio_img_two.png">
</div>
</section>