@import './../../styles.scss';

.about-me-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $bg;

}

.about-me-left {
    width: 45vw;
    display: flex;
    flex-direction: column;

    h1 {
        margin: 0;
    }

    span {
        padding-right: 3rem;
    }

    .text-block {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin: 3rem;

        .add-width {
            margin-right: 10px;
        }
    }
}

.about-me-right {
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        border: 0.3rem solid $aqua_blue;
        border-radius: 50%;
        height: 40vh;
    }
}