<section class="about-me-section">
<div class="about-me-left">
    <h1 class="section-headline">About me</h1>
    <span>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, voluptates sed enim ipsum voluptatem
        repellat at ducimus, placeat dolore voluptatum exercitationem et officia laborum praesentium vel assumenda
        ipsam, maxime dolorum.
    </span>
    <div>
        <div class="text-block">
            <img class="add-width" src="../../assets/img/general-icons/bulb.png">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error aliquid, veniam numquam,
                 ducimus officia totam soluta excepturi amet aperiam repellendus quidem explicabo culpa
                  corrupti ipsa molestias! Cupiditate dolorum voluptate provident!
            </span>
        </div>
        <div class="text-block">
            <img src="../../assets/img/general-icons/puzzle.png">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error aliquid, veniam numquam,
                 ducimus officia totam soluta excepturi amet aperiam repellendus quidem explicabo culpa
                  corrupti ipsa molestias! Cupiditate dolorum voluptate provident!
            </span>
        </div>
    </div>
</div>
<div class="about-me-right">
    <img src="../../assets/img/photos/portfolio_img_two.png">
</div>
</section>