@import './../../styles.scss';

.atf-section {
    padding-top: 124px;
    height: 100vh;
    background-color: $atf_bg;
    background-image: url(../../assets/img/bg/Vector.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
}

.atf-img {
    // .atf-img-bg{
    // }

    .atf-img-photo {
        position: absolute;
        width: 520px;
        left: 100px;
    }
}

.atf-headlines {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;

}

.atf-headlines-vertical {
    
    h2 {
        writing-mode: vertical-lr;
        text-orientation: sideways;
        color: white;
        transform: rotateZ(180deg);
        font-size: 4rem;
        font-weight: 400;
    }
}

.atf-headlines-horizontal {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    .headline-white {
        font-size: 5rem;
        font-weight: 800;
        height: 50%;
        color: white;
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .headline-blue {
        font-size: 3rem;
        font-weight: 600;
        height: 50%;
        color: $purple_blue;
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

button {
    height: 50px;
}

.atf-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;

    .purple-line {
        height: 5px;
        border-right: 100px solid $purple_blue;
        border-radius: 5px;
    }
    a {
        text-decoration: 0;
        font-size: 1.5rem;
        color: white;
    }
}

.atf-scroll {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    color: white;
    font-size: 1.5rem;
    font-weight: 200;
}