<section id="atf" class="atf-section">
    <div class="atf-top-container">
        <div class="atf-section-container-left">

            <div class="atf-img-container">
                <img class="atf-img-colors" src="../../assets/img/bg/Group 2.png">
                <img class="atf-img-photo" src="../../assets/img/photos/portfolio_img_one.png" alt="">
            </div>

            <img class="atf-img-vector" src="../../assets/img/bg/Vector.png">
            <img class="atf-img-vector-mobile" src="../../assets/img/bg/Vector2.png">
        </div>

        <div class="atf-section-container-right">

            <div class="atf-headlines">
                    <span class="atf-headline-vertical">I am</span>
                <div class="atf-headlines-horizontal">
                    <span class="headline-white">Simon Brost</span>
                    <span class="headline-blue">FRONTEND DEVELOPER</span>
                </div>
            </div>
            <a href="#contact"><button translate>Let's talk!</button></a>

        </div>
    </div>
    <div class="atf-bottom-container">
        <div class="atf-links">
            <a href="https://github.com/simonbrost"><img src="../../assets/img/social-buttons/github.png"
                    alt="github"></a>
            <a href="mailto:simonb@live.at"><img src="../../assets/img/social-buttons/mail.png" alt="mail"></a>
            <a href="https://www.linkedin.com/in/simon-brost-194647232/"><img
                    src="../../assets/img/social-buttons/linkedin.png" alt="linkedin"></a>
            <a href="#contact" class="atf-link-hide-mobile">simonb&#64;live.at</a>
        </div>
        <div class="atf-scroll" translate>
            Scroll down &rarr;
        </div>
    </div>

    <img class="bg-two" src="../../assets/img/bg/purple_shadow_one.png">
</section>