<section id="atf" class="atf-section">

    <div class="atf-section-container-left">

        <div class="atf-img">
            <img class="atf-img-colors" src="../../assets/img/bg/Group 2.png">
            <img class="atf-img-vector" src="../../assets/img/bg/Vector.png">
            <img class="atf-img-photo" src="../../assets/img/photos/portfolio_img_one.png" alt="">
        </div>

        <div class="atf-links">
            <!-- <div class="purple-line"></div> -->
            <a href="https://github.com/simonbrost"><img src="../../assets/img/social-buttons/github.png" alt="github"></a>
            <a href="mailto:simonb@live.at"><img src="../../assets/img/social-buttons/mail.png" alt="mail"></a>
            <a href="https://www.linkedin.com/in/simon-brost-194647232/"><img src="../../assets/img/social-buttons/linkedin.png" alt="linkedin"></a>
            <a href="#contact">simonb&#64;live.at</a>
        </div>

    </div>

<div  class="atf-section-container-right">

    <div class="atf-headlines">
        <div class="atf-headlines-vertical">
            <h2>I am</h2>
        </div>
        <div class="atf-headlines-horizontal">
            <div class="headline-white section-headline">Simon Brost</div>
            <div href="#contact" class="headline-blue">FRONTEND DEVELOPER</div>
        </div>
    </div>
    <a href="#contact"><button>Let's talk!</button></a>



    <div class="atf-scroll">
        Scroll down &rarr;
    </div>

</div>

<img class="bg-two" src="../../assets/img/bg/purple_shadow_one.png">


</section>