@import './../../styles.scss';

.contact-section {
    position: relative;
    font-family: 'Poppins';
    padding-top: 124px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 200px;
    background-color: $bg;
    color: white;
    cursor: default;
    overflow-x: clip;

    h1 {
        margin-bottom: 5rem;
        display: flex;
        align-items: center;
        text-align: center;

        &::before {
            position: absolute;
            content: '';
            border-top: 0.3rem solid $purple_blue;
            width: 4rem;
            left: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}

.contact-section-container {
    display: flex;
    justify-content: space-between;
}

.text-box {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    gap: 1rem;

    h2 {
        font-size: 2rem;
    }
}

.form-box {
    display: flex;
    justify-content: flex-end;
    width: 40vw;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 620px;
}

.form-control {
    background-color: $bg;
    border-color: $purple_blue;
    color: white;
    cursor: pointer;

    &::placeholder {
        color: white;
    }

    &:hover {
        border-color: $aqua_blue;
    }

}

.form-check-input {
    background-color: $bg;
    border-color: $aqua_blue;

    &:hover {
        cursor: pointer;
        animation: grow 0.5s ease forwards;
    }
}

.offset-sm-2 {
    margin-left: 0 !important;
}

.form-check-label {
    a {
        color: $purple_blue;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.msg-btn-container {
  display: flex;
  justify-content: center;  
}

.to-the-top-container {
    display: flex;
    justify-content: flex-end;  
  }

.btn {
    margin-top: 3rem;
    background-color: $aqua_blue;
    border: none;
    font-size: 1.5rem;
    width: 16rem;
    height: 4rem;

    transition: transform 1000ms;

    &:hover {
        transform: translateY(-1.75rem);
        transition: transform 250ms;
        background-color: $purple_blue;
    }
}

.to-the-top {
    margin-top: 50px;
    cursor: pointer;
    animation: bounce 0.8s ease-in-out infinite alternate;
}

.bg-six{
    position: absolute;
    left: -280px;
    bottom: 0;
    transform: rotate(260deg);
}

.notification {   
    font-size: 0.8rem;
    color: red;
}

.warningColor {
    border-color: red;
}