<section class="contact-section">
    <h1>Contact</h1>
    <div class="contact-section-container">
        <div class="text-box">
            <h2>Got a problem to solve?</h2>
            <span>Contact me through this form, I am interested in hearing from you,
                knowing your ideas and contributing to your projects with my work.
            </span>
            <div>
                <span>Need a Frontend developer? </span>
                <a href="">Contact me!</a>
            </div>
        </div>
        <div class="form-box">
            <form>
                <div class="row mb-3">
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Your name">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Your email">
                    </div>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Your message"></textarea>
                  </div>
                <div class="row mb-3">
                    <div class="col-sm-10 offset-sm-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck1">
                            <label class="form-check-label" for="gridCheck1">
                                I've read the <a href="">privacy policy</a> and agree to the processing of my data as outlined
                            </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Send message &#9786; </button>
            </form>
        </div>
    </div>
    <img class="to-the-top" src="../../assets/img/general-icons/arrow-white.png" alt="up">
</section>