<section id="portfolio" class="portfolio-section">
    <div class="headlines-container">
        <h1 class="section-headline">Portfolio</h1>
        <span>Explore a selection of my work here- Interact with projects to see my skills in action.</span>
    </div>

    <div class="project-container">
        @for(project of projectdata.projectlist; track project.name; let index = $index) {
        <app-project [project]="project" [reverse]="isOdd(index)"></app-project>
        }
    </div>
    <!-- <img class="bg-four" src="../../assets/img/bg/purple_shadow_three.png"> -->
    <img class="bg-five" src="../../assets/img/bg/aqua_shadow.png">
</section>