@import './../../styles.scss';

.portfolio-section {
    font-family: 'Poppins';
    padding-top: 10rem;
    width: 100vw;
    background-color: $bg;
    color: white;
    cursor: default;

    .headlines-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 2rem;

            &::before {
                position: absolute;
                content: '';
                border-top: 0.3rem solid $purple_blue;
                width: 6vw;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                margin-right: 40rem;
            }

            &::after {
                position: absolute;
                content: '';
                border-top: 0.3rem solid $purple_blue;
                width: calc(50vw - 256px);
                right: 0;
                
            }
        }
    }

    .bg-four {
        position: absolute;
        z-index: 1;
        top: 4600px;
        left: -100px;
    }

    .bg-five {
        position: absolute;
        z-index: 1;
        top: 4700px;
        right: -500px;
        transform: rotate(70deg);
    }
}