@import './../../styles.scss';

.portfolio-section {
    padding-top: 10rem;
    width: 100vw;
    background-color: $bg;
    color: white;
    cursor: default;
    
    h1 {
        margin-bottom: 5rem;
    }
}