@import './../../styles.scss';

.my-skills-section {
    font-family: 'Poppins';
    padding-top: 324px;
    padding-bottom: 160px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: default;
}

.my-skills-left {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    padding-right: 5rem;
    

    div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        font-weight: 600;

        img {
            transition: transform 0.9s ease;

            &:hover {
                transform: rotate(360deg);
            }
        }
    }


}

.my-skills-right {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: end;
    gap: 2rem;
    

    h1 {
        display: flex;
        align-items: center;

        &::after {
            position: absolute;
            content: '';
            border-top: 0.3rem solid $purple_blue;
            width: 4rem;
            right: 0;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }

    div {
        max-width: 600px;
    }

    button {
        align-self: flex-end;
        background-color: $aqua_blue;
        color: white;
        font-size: 1.5rem;
        width: 16rem;
        height: 4rem;
        border-radius: 5%/20%;
        border: none;

        transition: transform 1000ms;

        &:hover {
            transform: translateY(-1.75rem);
            transition: transform 250ms;
            background-color: $purple_blue;
        }
    }
}

.bg-three {
    position: absolute;
    top: 240vh;
    left: -500px;
}