@import './../../styles.scss';

.my-skills-section {
    width: 100vw;
    height: 100vh;
    background-color: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: default;
}

.my-skills-left {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    padding-right: 5rem;
    padding-left: 5rem;

    div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        font-weight: 600;

        img {
            transition: transform 0.9s ease;

            &:hover {
                transform: rotate(360deg);
            }
        }
    }


}

.my-skills-right {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;

    h1 {
        margin: 0;
    }

    div {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    button {
        background-color: $aqua_blue;
        color: white;
        font-size: 1.5rem;
        width: 16rem;
        height: 4rem;
        border-radius: 5%/20%;
        border: none;

        transition: transform 1000ms;

        &:hover {
            transform: translateY(-1.75rem);
            transition: transform 250ms;
            background-color: $purple_blue; // Hier wird die Farbe geändert, wenn über das Element gehovert wird
        }
    }
}