<section class="my-skills-section">
    <div class="my-skills-left">
        <div>
            <img src="../../assets/img/web-icons/Angular.png" alt="angular">
            <span>Angular</span>
        </div>
        <div>
            <img src="../../assets/img/web-icons/TS.png" alt="typescript">
            <span>TypeScript</span>
        </div>
        <div>
            <img src="../../assets/img/web-icons/Javascript.png" alt="javascript">
            <span>JavaScript</span>
        </div>
        <div>
            <img src="../../assets/img/web-icons/html.png" alt="html">
            <span>HTML</span>
        </div>
        <div>
            <img src="../../assets/img/web-icons/CSS.png" alt="css">
            <span>CSS</span>
        </div>
        <div>
            <img src="../../assets/img/web-icons/Firebase.png" alt="firebase">
            <span>Firebase</span>
        </div>
        <div>
            <img src="../../assets/img/web-icons/git.png" alt="git">
            <span>GIT</span>
        </div>
        <div>
            <img src="../../assets/img/web-icons/Api.png" alt="api">
            <span>Rest-API</span>
        </div>
        <div>
            <img src="../../assets/img/web-icons/Materialdesign.png" alt="material">
            <span>Material Design</span>
        </div>
        <div>
            <img src="../../assets/img/web-icons/scrum.png" alt="scrum">
            <span>SCRUM</span>
        </div>
    </div>

    <div class="my-skills-right">
        <h1>My skills</h1>
        <div>
            <span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur corporis, aliquam dolor officia
                recusandae est
            </span>
        </div>

        <button>Get in touch</button>
    </div>
</section>