@import './../../../styles.scss';

.imprint-section {
    height: fit-content;
    background-color: $bg;
    padding-top: 124px;
    color: white;
    font-size: 1.5rem;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h4 {
            font-size: 2rem;
            color: $aqua_blue;
        }
    }
}

@media screen and (max-width: 1920px) {
    .imprint-section div {
        padding-left: 100px !important;
        padding-right: 100px !important;
    }
}

@media screen and (max-width: 1100px) {
    .imprint-section div {
        font-size: 1rem;
        padding: 20px !important;
    }
}