<section class="project-section">
    <div class="img-container">
        <img src="../../assets/img/projects/{{project.img}}">
    </div>
    <div class="info-container">
        <h2>{{ project.name }}</h2>
        <h3>{{ project.tools }}</h3>
        <span>{{ project.description }}</span>
        <div class="btn-container">
            <a href="{{ project.demo }}">
                <button class="btn-purple">Live test</button>
            </a>
            <a href="{{ project.github }}">
                <button class="btn-aqua">Github</button>
            </a>
        </div>
    </div>
</section>