@media screen and (min-width: 1920px) {
    :root {
        --extra-padding: 100px !important; // Anfangs-Padding
        --min-width: 1920px !important; // Mindest-Bildschirmbreite
    }

    section {
        padding-left: calc((100vw - var(--min-width)) / 2 + var(--extra-padding)) !important;
        padding-right: calc((100vw - var(--min-width)) / 2 + var(--extra-padding)) !important;
    }

    .atf-bottom-container {
        .atf-links {
            padding-left: 5rem !important;

            &::before {
                left: calc((100vw - var(--min-width)) / 2 + var(--extra-padding)) !important;
            }
        }
    }

    .about-me-right {
        margin-right: 0 !important;

        &::after {
            display: none;
        }
    }

    app-my-skills {
        h1 {

            &::after {
                right: calc((100vw - var(--min-width)) / 2 + var(--extra-padding) - 5rem) !important;
            }
        }
    }

    app-portfolio {
        h1 {

            &::before {
                display: none;
            }

            &::after {
                width: 640px !important;
                right: calc((100vw - var(--min-width)) / 2 + var(--extra-padding) - 5rem) !important;
            }

        }
    }

    .contact-section {
        h1 {
            padding-left: 5rem;

            &::before {
                left: calc((100vw - var(--min-width)) / 2 + var(--extra-padding)) !important;
            }
        }
    }
}

@media screen and (max-width: 1630px) {

    .about-me-right {
        margin-right: 0 !important;

        &::after {
            display: none;
        }
    }
}

@media screen and (max-width: 1578px) {

    .atf-top-container {
        display: flex;
        flex-direction: column;
    }

    .atf-img-vector {
        top: 26% !important;
        display: none;
    }

    .atf-img-vector-mobile {
        top: 42% !important;
        display: block !important;
    }

    //-------------verschiebt den vektor -.- -------->>
    .atf-section-container-right {
        padding-bottom: 0 !important;
    }
}

@media screen and (max-width: 1402px) {

    .bg-two {
        top: 90vh !important;
    }

    .my-skills-section {
        flex-direction: column-reverse;
        gap: 7rem;

        .my-skills-right {
            align-self: flex-end;
            width: auto;
        }

        .my-skills-left {
            width: auto;
            padding-right: 0 !important;
        }
    }

    .about-me-section {
        flex-direction: column;
    }

    .project-section {
        flex-direction: column !important;
        gap: 0 !important;
        padding-bottom: 5rem;

        .img-container {
            z-index: 2;
            max-width: auto;
            min-width: 600px;
            padding-left: 0;
            padding-right: 0;
        }

        .info-container {
            z-index: 2;
            max-width: auto;
            padding-left: 0;
            padding-right: 0;
            gap: 1rem;
            align-items: center;

            h2 {
                text-align: center;
            }

            span {
                text-align: center;
            }
        }
    }

    .contact-section {
        .text-box {
            max-width: 450px;
        }
    }
}

@media screen and (max-width: 980px) {
    #desktop-header {
        display: none;
    }

    #mobile-header {
        display: flex !important;
    }

    section {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    //-------ATF-SECTION-----------

    .headline-white {
        font-size: 70px !important;
        margin-bottom: -2rem !important;
    }

    .headline-blue {
        font-size: 40px !important;
    }

    .atf-headline-vertical {
        font-size: 40px !important;
        margin-bottom: 1rem !important;
    }

    .atf-bottom-container {
        .atf-links {
            padding-left: 5rem !important;
        }
    }

    //-------MY-SKILLS-SECTION-----------

    .my-skills-right {
        padding-right: 5rem;

        div {
            max-width: 480px !important;
        }
    }

    //-------PROJECT-SECTION-----------

    .info-container {
        max-width: 60vw !important;
    }
    //-------CONTACT-SECTION-----------

    .contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            position: relative;
            z-index: 5;
            padding-right: 7rem;
            margin-bottom: 2rem !important;

            &::before {
                position: relative !important;
                margin-right: 1rem;
            }
        }
    }

    .contact-section-container {
        position: relative;
        z-index: 5;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        max-width: 650px;

        .text-box {
            width: auto;
        }
        .form-box {
            width: auto;
            max-width: 450px;
        }
    }

    //-------FOOTER-----------

    .footer {
        flex-direction: column;
        justify-content: space-around !important;
        padding-left: 0 !important;
        padding-right: 0 !important;

        .impressum {
            display: none;
        }

        .mobile-footer-impressum {
            display: block !important;
        }
    }

}

@media screen and (max-width: 740px) {

    //----------ATF--------------------

    .atf-links {
        padding-top: 56px;
        width: 100%;
        justify-content: center !important;

        .atf-link-hide-mobile {
            display: none !important;
        }
    }

    .atf-img-vector-mobile {
        top: 48% !important;
    }

    .atf-scroll {
        display: none !important;
    }

    //------------ABOUT-ME---------------
    .about-me-left {
        align-items: center !important;

        span {
            max-width: 450px !important;
        }

        .text-block {
            max-width: 400px !important;
        }
    }

    .about-me-right {
        display: none !important;
    }

    //------------MY-SKILLS---------------
    .my-skills-section {
        padding-top: 124px !important;
    }

    .my-skills-left {
        width: auto !important;
        gap: 2rem !important;

        div {
            flex: 0 0 25% !important;
            padding-bottom: 32px !important;
        }
    }

    //------------PORTFOLIO---------------
    .headlines-container {

        h1 {

            &::before {
                width: 2rem !important;
                margin-right: 60vw !important;
            }

            &::after {               
                width: 8rem !important; 
            }
        }

        span {
            text-align: center;
            max-width: 560px;
        }
    }
}

@media screen and (max-width: 572px) {

    //----------------ATF--------------
    .atf-top-container {
        height: fit-content !important;

        .atf-section-container-left {
            height: fit-content !important;

            .atf-img-container {
                height: 500px !important;
                width: auto !important;

                .atf-img-colors {
                    top: 40px;
                    width: 640px;
                    left: auto !important;
                }

                .atf-img-photo {
                    width: 340px !important;
                    left: auto !important;
                }
            }

            .atf-img-vector-mobile {
                top: 56% !important;
                height: 30vh !important;
            }
        }

        .atf-section-container-right {

            .atf-headline-vertical {
                font-size: 34px !important;
            }

            .atf-headlines-horizontal {
                .headline-white {
                    margin-bottom: -16px !important;
                    font-size: 50px !important;
                }

                .headline-blue {
                    font-size: 29px !important;
                }
            }

            button {
                font-size: 1.2rem !important;
                width: 8.5rem !important;
                height: 3.5rem !important;
            }
        }
    }

    //----------------ABOUT-ME--------------
    .about-me-left {

        span {
            max-width: 350px !important;
        }

        .text-block {
            max-width: 300px !important;
        }
    }

    //----------------SKILLS--------------
    .my-skills-section {
        padding-bottom: 0 !important;
        gap: 2rem;

        .mobile-d-none {
            display: block;
        }

        .bg-three {
            bottom: -640px;
            left: -640px;
        }
    }

    .my-skills-right {
        padding-right: 3rem;

        h1 {
            &::after {
                width: 2rem !important;
            }
        }

        div {
            max-width: 360px !important;
        }
    }

    .my-skills-left {
        width: auto !important;
        gap: 0 !important;
        padding-right: 0 !important;

        div {
            flex: 0 0 33.33% !important;
            padding-bottom: 32px;
        }
    }

    .my-skills-right {

        button {
            display: none;
        }
    }

    //------------PORTFOLIO---------------
    .headlines-container {

        h1 {

            &::before {
                width: 2rem !important;
                margin-right: 70vw !important;
            }

            &::after {
                width: 5rem !important; 
            }
        }

        span {
            max-width: 400px;
        }
    }

    //----------PROJECT---------------------
    .img-container {
        img {
            height: auto;
            width: 80vw !important;
        }
    }

    .info-container {
        h2 {
            font-size: clamp(1rem, 1rem + 5vw, 5rem) !important;
        }

        h3 {
            font-size: clamp(0.5rem, 0.5rem + 5vw, 4rem) !important;
        }

        .btn-container {
            gap: 2rem;
        }
    }

    //-------CONTACT-SECTION-----------
    .contact-section {
        padding-bottom: 50px !important;

        h1 {
            align-self: flex-start; //neu
            position: relative !important;

            &::before {
                position: relative !important;
                margin-right: 0.5rem;
                width: 1.5rem !important;
            }
        }
    }

    .contact-section-container {
        padding: 2rem !important;
        max-width: 420px !important;
    }

    //-------FOOTER-----------

}

@media screen and (max-width: 400px) {

    //---------------ATF--------------------
    .atf-links {
        &::before {
            width: 2.5rem !important;
        }
    }

    //----------------SKILLS--------------
    .my-skills-section {

        .bg-three {
            bottom: -640px;
            left: -720px !important;
        }
    }

    //------------PORTFOLIO---------------
    .headlines-container {

        h1 {

            &::before {
                margin-right: 75vw !important;
            }

            &::after {
                width: 4rem !important; 
            }
        }

        span {
            max-width: 320px;
        }
    }

    //-------------Project----------------
    .btn-container {
        button {
            width: 8rem !important;
            height: 3rem !important;
        }
    }
}